#title {
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    padding: 15px 20px; 
    font-size: 48px; 
    font-weight: bold; 
    text-align: center; 
    align-self: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(15),
        cursor 0.4s step-end infinite alternate 2s;
}

@keyframes cursor {
    50% { border-color: transparent };
}

@keyframes typing {
    from { width: 0 };
}
.title-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.conversation-container {
    flex-grow: 1;
    width: 700px;
    max-height: 80vh;
    margin-top: 50px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.conversation-query, .conversation-response {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 30px;
}

.conversation-query {
    padding: 15px 20px;
    background-color: #27262B;
    border-radius: 25px;
    align-self: flex-end;
    max-width: 350px;
    word-wrap: break-word; 
}

.conversation-response {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 600px;
    word-wrap: break-word; 
}

.query-text {
    margin: 0;
    border: 0;
}

.furnichanter-logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: flex-start;
}

.conversation-container::-webkit-scrollbar {
    display: none; 
}

p {
    margin-top: 5px;
}