html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}  
#root {
    background-color: hsl(60, 5%, 4%);
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
